body
  background-image: linear-gradient(#9b9893 1px, transparent 0px),linear-gradient(90deg, #9b9893 1px, transparent 0px)
  background-size: 4em 4em
  background-color: #efece7
  backdrop-filter: blur(1px)
  
@font-face
  font-family: 'Noto Sans TC', sans-serif
  unicode-range: U+4E00-9FFF

@font-face 
  font-family: 'Azeret Mono', monospace
  unicode-range: U+00-024F

input
  font-family: 'Azeret Mono', monospace, 'Noto Sans TC', sans-serif
// *::-webkit-input-placeholder
//   font-family: 'Azeret Mono', monospace

// *:-ms-input-placeholder
//   font-family: 'Azeret Mono', monospace

// *:-moz-placeholder
//   font-family: 'Azeret Mono', monospace

// *::-moz-placeholder
//   font-family: 'Azeret Mono', monospace